
<div class="row text-center justify-content-md-center" style="margin-top: -105px;">
    <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
        <i class="bi bi-device-hdd"></i>
        <h3>Back-end</h3>
        <p>
            Trabajo desarrollando...
        </p>
        <p class="text-primary">
            Stack
        </p>
        <p>
            ASP.NET Core MVC, SQL Server
        </p>
        <p class="text-primary cabecera">
            Experiencia
        </p>
        <ul>
            <li>WEB APIs</li>
            <li>ASP.NET Core MVC</li>
            <li>Entity Framework</li>
            <li>Blazor</li>
            <li>Dapper</li>
            <li>Queries</li>
            <li>Pricipios SOLID</li>
        </ul>
    </div>

    <div class="col col-3 cabecera bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
        <i class="bi bi-code-slash"></i>
        <h3>Front-end</h3>
        <p>
            Trabajo desarrollando...
        </p>
        <p class="text-primary cabecera">
            Stack
        </p>
        <p>
            React, Angular, Blazor
        </p>
        <p class="text-primary" cabecera>
            Experiencia
        </p>
        <ul>
            <li>React hooks</li>
            <li>Angular material</li>
            <li>Markdown</li>
            <li>Blazor WASM</li>
            <li>JQuery</li>
            <li>Pruebas automatizadas</li>
            <li>Leaflet</li>
            <li>Markdown</li>
        </ul>
    </div>
</div>