<div class="text-center">
    <h1 class="display-4">LUIS ANGEL NORIEGA ENCINAS</h1>
    <h2>Desarrollador de software mega hiper hiper hiper junior</h2>
    <img id="foto" src="imagenes/foto.png" alt="Alternate Text" />
    <br />
</div>

<div class="text-center">
    <img id="imagen-logonet" src="imagenes/NET.png" alt="Alternate Text" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h2>¡Bienvenido a mi portafolio web!</h2>
        <p>Soy un ingeniero de sistemas con formación en Ciencias Computacionales y experiencia en diversos roles técnicos y de soporte, incluyendo trabajo en un call center bilingüe, documentación de software, y evaluación de respuestas de IA.</p>
    </div>
</div>