
.rounded-image {
    border-radius: 50%;
}

#foto {
    width: 150px;
    height: 150px;
    border-radius: 50%
}

.seccion-bienvenida {
    margin: 5rem 0 10rem 0;
    color: white;
}

.seccion-bienvenida h1 {
    margin-bottom: 1rem;
}

.seccion-bienvenida p {
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 1.25rem;
}

#imagen-logonet {
    width: 500px;
}

.cabeza {
    font-weight: bold;
}

.habilidades ul {
    list-style-type: none;
    padding-left: 0;
}

.habilidades i {
    color: #808080;
    font-size: 100px;
}